.navbar{
  background: #212529 !important;
  height: 80px;
  box-shadow: 5px 0 0px 8px #05B7BF;
  position: relative;
  margin-bottom: 7%;
  .logo{
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  
}
